body {
	background-color: black;
	padding: 0;
	border: 0;
	margin: 0;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	font-family: "century gothic", arial, sans-serif;
}
div {
	padding: 0;
	border: 0;
	margin: 0;
	position: relative;
	color: white;
}
h2 {
	font-size: 13pt;
	padding: 0 .5em;
	font-weight: 300;
	margin: 1em 0 0 0;
}
h1 {
	font-size: 30px;
	color: white;
	padding-left: 40px;
	font-weight: 300;
}
li.spewing {
	font-size: 20px;
	padding-left: 40px;
	list-style: none;
}
input[type=submit], 
button {
	border: 0;
	display: block;
	float: left;
	padding: .5em;
	margin: .5em;
	cursor: pointer;
	width: calc(50% - 1em);
	font-size: 13pt;
	font-family: inherit;
	background-color: white;
}
input[type=submit]:hover, 
button:hover {
	text-decoration: underline;
}
input[type=radio] + label {
	font-family: inherit;
	font-size: 13pt;
	background-color: white;
	border: 2px solid white;
	padding: .5em;
	margin: 0;
	cursor: pointer;
	width: calc(100% - 1em - 4px);
	display: block;
	color: black;
	text-align: center;
}
input[type=radio] {
	display: none;
}
input[type=radio]:checked + label {
	background-color: black;
	color: white;
}
input[type=text] {
	padding: .5em;
	margin: .5em;
	border: 0;
	font-size: 13pt;
	font-family: inherit;
	width: calc(100% - 2em);
}
button#spewnames {
	background-color: white;
	font-size: 20px;
	width: 100%;
	border-bottom: 2px solid white;
	margin: 0;
}
button#spewnames.spewon {
	background-color: black;
	color: white;
}
/*MAIN*/
div#main {
	width: calc(100% - 20em - 2px);
	border-right: 2px solid white;
	float: left;
	height: 100%;
}
/*SIDEBAR*/
div#sidebar {
	width: 20em;
	background-color: black;
	height: 100%;
	float: right;
}
#choose {
	margin: .5em;
}


