<%@ Language="c#"%>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Data" %>
<%@ Import NameSpace="iesDBlib" %>
<%@ Import Namespace="iesJSONlib" %>
<%
string Command = Request.Form["cmd"];

string connString = "Persist Security Info=False;database=db1007762_wpl12;server=mysql.site.infoquest.com;user id=u1007762_wpl_s12;pwd=#orang3froG";
iesDB myDB=new iesDB();
myDB.setConnectString(connString);
myDB.Open();

if(Command=="getname") 
{
	
	string sentence = a_an(replaceTags("[SEN]")); //This also capitalizes the first letter
	Random r = new Random();
	string punct = ".";
	if(r.Next()%8==1)
	{
		punct = "!";
	}
	//At some point make "a" or "an" as appropriate
	
	if(sentence[sentence.Length - 1]!='?'&&sentence[sentence.Length - 1]!='!'&&sentence[sentence.Length - 1]!='.')
	{
		sentence += punct;
	}
	
	Response.Write(sentence);
}
else if(Command=="add")
{
	string WordType = Request.Form["wordtype"];
	string Word = Request.Form["word"];
	string query = "SELECT * FROM schwabnames WHERE wordtype = '"+WordType+"' AND word = '" + Word + "'";
	
	iesJSON zew = new iesJSON();
	zew = myDB.GetFirstRow(query);

	if(zew._value==null)
	{
		string addQuery = "INSERT INTO schwabnames(wordtype, word) VALUES('" + WordType +"','"+ Word +"')";
		if(myDB.ExecuteSQL(addQuery))
		{
			Response.Write(Word + " successfully added to "+WordType+"s");
		}
		else
		{
			Response.Write("fail");
		}
	}
	else Response.Write(Word + " has already been added to " +WordType+"s"); 
}
else if(Command=="delete")
{
	string WordType = Request.Form["wordtype"];
	string Word = Request.Form["word"];
	string query = "SELECT * FROM schwabnames WHERE wordtype = '"+WordType+"' AND word = '" + Word + "'";
	
	iesJSON zew = new iesJSON();
	zew = myDB.GetFirstRow(query);
	if(zew._value!=null)
	{
		string deleteQuery = "DELETE FROM schwabnames WHERE wordtype = '"+WordType+"' AND word = '" + Word + "'";
		if(myDB.ExecuteSQL(deleteQuery))
		{
			Response.Write(Word + " successfully deleted from " +WordType+"s");
		}
		else
		{
			Response.Write("fail");
		}
	}
	else Response.Write(Word + " isn't one of the "+ WordType +"s, dufus!");
	
	
}
else Response.Write("Not a valid comman");
myDB.Close();
%>

<script language='c#' runat='server'>
public string parse(string tag)
{
	string connString = "Persist Security Info=False;database=db1007762_wpl12;server=mysql.site.infoquest.com;user id=u1007762_wpl_s12;pwd=#orang3froG";
	iesDB myDB=new iesDB();
	myDB.setConnectString(connString);
	myDB.Open();
	string wordType;
	if(tag=="NAME")
	{
		wordType = "name";
	}
	else if(tag.ToLower()=="adj")
	{
		wordType = "adjective";
	}
	else if(tag.ToLower()=="noun")
	{
		wordType = "noun";
	}
	else if(tag.ToLower()=="phr")
	{
		wordType = "phrase";
	}
	else if(tag.ToLower()=="sen")
	{
		wordType = "sentence";
	}
	else
	{
		wordType = "adjective";
	}
	
	iesJSON json = new iesJSON();
	string word = "1";
	
	string wordQuery = "SELECT * FROM schwabnames where wordtype = '"+ wordType +"' ORDER BY RAND() LIMIT 1";
	
	
	json=myDB.GetFirstRow(wordQuery);
	word = json["word"].CString();
	
	myDB.Close();
	return word;
	//return "bro";
}
public string replaceTags(string sentence, int index = 0)
{
	string parsedString = "";
	bool inTag = false;
	string tag = "";
	for(int i = 0; i < sentence.Length; i++)
	{
		
		if(sentence[i]=='[')
		{
			inTag = true;
		}
		else if(sentence[i]==']')
		{
			inTag = false;
			if(index < 7)
			{
				parsedString += replaceTags(parse(tag), index + 1);
			}
			tag = "";
		}
		else if(inTag)
		{
			tag += sentence[i];
		}
		else if(inTag==false)
		{
			parsedString += sentence[i]; 
		}
	}
	return parsedString;
	//return parse(parsedString);
}
public string a_an(string sentence)
{
	string finalSentence = "";
	finalSentence += Char.ToUpper(sentence[0]);
	for(int i = 1; i < sentence.Length - 3; i++)
	{
		if(sentence[i] == ' ' && sentence[i+1] == 'a' && sentence[i+2] == ' ')
		{
			if(sentence[i+3]=='a'||sentence[i+3]=='e'||sentence[i+3]=='i'||sentence[i+3]=='o'||sentence[i+3]=='u')
			{
				finalSentence += " an ";
				i+= 2;
			}
			else finalSentence += sentence[i];
		}
		else finalSentence += sentence[i];
	}
	finalSentence += sentence[sentence.Length - 3];
	finalSentence += sentence[sentence.Length - 2];
	finalSentence += sentence[sentence.Length - 1];
	return finalSentence;
}
</script>
